<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To-do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="box" id="heading">
    <h1><%= kindOfDay %></h1>
  </div>

  <div class="box">
    <form class="" action="/" method="post">

      <%  for (var i = 0; i<newItem.length ;i++){ %>
      <div class="item">
        <input type="checkbox" name="" value="">
        <p> <%= newItem[i] %> </p>
</div>
      <%  } %>

      <input type="text" name="toDoList" class="" placeholder="What to do...">
      <button type="submit" name="button">+</button>


    </form>
  </div>


</body>
<footer>
  Created by Fifi Law
</footer>
</html>
